<%- include("partials/header") %>

<!-- New System -->
<section id="newSystem">
    <div class="system">
        <h1>Indoor Sensors</h1>
    </div>

    <div class="row">

        <div class="new-system-column col-lg-6 col-md-6">
             <!-- indoor system  -->
            <div class="card">
                <div class="card-header">
                <h2>Living room</h2>
                </div>
                <div class="card-body">
                <h3>CO2 : <span><%= eco2_sgp30 %></span> ppm</h3>  
                <h3>VOC : <span><%= tvoc_sgp30 %></span> ppb</h3>
                <h3>Hum : <span><%= humidity_bme688 %></span> %</h3>
                <h3>Temp: <span><%= temperature_bme688 %></span> °C</h3>
                <!-- <p class="invisible">invisible text</p> -->
                </div>
            </div>
        </div>

    </div>
        
</section>

<%- include("partials/footer") %> 